<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>SampleLabel</key>
		<dict>
			<key>BackgroundColor</key>
			<dict>
				<key>Selector</key>
				<string>clearColor</string>
			</dict>
			<key>NormalTextColor</key>
			<dict>
				<key>R</key>
				<integer>102</integer>
				<key>G</key>
				<integer>102</integer>
				<key>B</key>
				<integer>102</integer>
				<key>A</key>
				<integer>1</integer>
			</dict>
			<key>HighlightedTextColor</key>
			<dict>
				<key>R</key>
				<integer>102</integer>
				<key>G</key>
				<integer>102</integer>
				<key>B</key>
				<integer>102</integer>
				<key>A</key>
				<integer>1</integer>
			</dict>
			<key>TextAlignment</key>
			<string>Left</string>
			<key>TextFont</key>
			<dict>
				<key>Bold</key>
				<false/>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>TextLineNumber</key>
			<integer>3</integer>
			<key>TextShadowColor</key>
			<dict>
				<key>Selector</key>
				<string>whiteColor</string>
			</dict>
			<key>TextShadowOffset</key>
			<dict>
				<key>Height</key>
				<integer>1</integer>
				<key>Width</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>SampleButton</key>
		<dict>
			<key>DisabledTextShadowColor</key>
			<string></string>
			<key>BackgroundColor</key>
			<dict>
				<key>Selector</key>
				<string>clearColor</string>
			</dict>
			<key>NormalImage</key>
			<dict>
				<key>ImageName</key>
				<string>navi_barbutton_bg.png</string>
				<key>LeftCapWidth</key>
				<integer>21</integer>
				<key>TopCapHeight</key>
				<integer>15</integer>
			</dict>
			<key>HighlightedImage</key>
			<dict>
				<key>ImageName</key>
				<string>navi_barbutton_bg.png</string>
				<key>LeftCapWidth</key>
				<integer>21</integer>
				<key>TopCapHeight</key>
				<integer>15</integer>
			</dict>
			<key>DisabledImage</key>
			<dict>
				<key>ImageName</key>
				<string>navi_barbutton_bg.png</string>
				<key>LeftCapWidth</key>
				<integer>21</integer>
				<key>TopCapHeight</key>
				<integer>15</integer>
			</dict>
			<key>NormalTextColor</key>
			<dict>
				<key>R</key>
				<integer>102</integer>
				<key>G</key>
				<integer>102</integer>
				<key>B</key>
				<integer>102</integer>
				<key>A</key>
				<integer>1</integer>
			</dict>
			<key>HighlightedTextColor</key>
			<dict>
				<key>R</key>
				<integer>102</integer>
				<key>G</key>
				<integer>102</integer>
				<key>B</key>
				<integer>102</integer>
				<key>A</key>
				<integer>1</integer>
			</dict>
			<key>DisabledTextColor</key>
			<dict>
				<key>R</key>
				<integer>102</integer>
				<key>G</key>
				<integer>102</integer>
				<key>B</key>
				<integer>102</integer>
				<key>A</key>
				<integer>1</integer>
			</dict>
			<key>TextFont</key>
			<dict>
				<key>Bold</key>
				<false/>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>TextShadowColor</key>
			<dict>
				<key>Selector</key>
				<string>blackColor</string>
			</dict>
			<key>TextShadowOffset</key>
			<dict>
				<key>Height</key>
				<integer>-1</integer>
				<key>Width</key>
				<integer>0</integer>
			</dict>
			<key>TitleEdgeInsets</key>
			<dict>
				<key>Bottom</key>
				<integer>0</integer>
				<key>Left</key>
				<integer>6</integer>
				<key>Right</key>
				<integer>0</integer>
				<key>Top</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>SampleImage</key>
		<dict>
			<key>ImageName</key>
			<string>navi_backbutton_bg.png</string>
			<key>LeftCapWidth</key>
			<integer>22</integer>
			<key>TopCapHeight</key>
			<integer>31</integer>
		</dict>
		<key>SampleImageView</key>
		<dict>
			<key>BackgroundColor</key>
			<dict>
				<key>Selector</key>
				<string>clearColor</string>
			</dict>
			<key>NormalImage</key>
			<dict>
				<key>ImageName</key>
				<string>navi_backbutton_bg.png</string>
				<key>LeftCapWidth</key>
				<integer>22</integer>
				<key>TopCapHeight</key>
				<integer>31</integer>
			</dict>
			<key>HighlightedImage</key>
			<dict>
				<key>ImageName</key>
				<string>navi_barbutton_bg.png</string>
				<key>LeftCapWidth</key>
				<integer>21</integer>
				<key>TopCapHeight</key>
				<integer>15</integer>
			</dict>
			<key>ContentMode</key>
			<string>ScaleToFill</string>
		</dict>
	</dict>
</dict>
</plist>
